<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    <div class="blog__one">
    <img src="./Images/framework.png" alt="Images of different framework">
    <div class="blog__content">

    <h3>Must Learn Web Development frameworks in 2022</h3>
    <p>Published - 2022-14-01</p>
    <p>The blog lists down some of the most popular web frameworks that should be on a new-age web development </p>
    <div class="timeLink">

    <p>5 min read</p>
    <p><a href="#">Read More</a></p>
    </div>
    </div>
    </div>

    <div class="blog__one">
    <img src="./Images/Digital-Leader.png" alt="Image of people with one being shown as leader">
    <div class="blog__content">

        <h3>How to make a transition from tech to leadership roles</h3>
        <p>Published - 2022-11-01</p>
        <p>The blog walks you through what one needs to do to make it to the top positions in an organisation....</p>
        <div class="timeLink">
            <p>3 min read</p>
            <p><a href="#"> Read More</a></p>
        </div>
    </div>
    </div>
</body>
</html>